#ForgetpasswordDiv{
    background-color: white;
    background-image: url("/public/backgrounduser.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1px;
    height: 739px;
}

#Forgetpasswordrow{
    width: 100%;
}

#ForgetpasswordDiv2 {
    position: fixed;
    width: 50%;
}

#Forgetpasswordimage{
    width: 600px;
    margin: auto;
    padding: 80px;
    margin-top: 10%;
}

#ForgetpasswordRegister2{
    text-decoration: none;
    color: black;
    display: block;
    width: 25%;
    position: absolute;
    margin-top: -60px;
    margin-left: 38%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

#ForgetpasswordformContainer{
    width: 90%;
    padding: 30px;
    position: relative;
    margin-top: 130px;
    margin-left: 100px;
}

#ForgetpasswordContainerH1{
    width: 80%;
    margin: auto;
    text-shadow: 3px 2px 2px black;
    padding: 7px;
    color: white;
}

#Forgetpasswordfrom{
    width: 100%;
    margin-top: 40px;
}

.ForgetpasswordfromGroup{
    margin: 30px;
}

.ForgetpasswordformLadel{
    margin: 10px 0px 10px 20px;
    font-weight: bold;
    float: left;
    color: black;
}

.ForgetpasswordformInnput{
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #efefef;
}

#ForgetpasswordonSubmit{
    margin: 2%;
    margin-top: 25px;
    padding: 15px 100px;
    border: 1px solid white;
    box-shadow: 2px 2px #ffffff85;
    background-color: darkcyan;
    color: black;
    font-weight: 700;
    border-radius: 20px;
}

#ForgetpasswordModel{
    margin-top: 6%;
}