#ScheduleformContainer{
    border-radius: 15px;
    width: 55%;
    padding: 30px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 10%;
}

#ScheduleContainerH1{
    width: 50%;
    margin: auto;
    text-shadow: 3px 2px 2px black;
    padding: 7px;
    color: white;
}

#Schedulefrom{
    width: 100%;
    margin-top: 40px;
}

.ScheduleformLadel{
    margin: 5px 0px 20px 28px;
    font-weight: bold;
    float: left;
    color: white;
}

.ScheduleformInnput{
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #efefef;
}

#ScheduleonSubmit{
    margin: 2%;
    margin-top: 60px;
    padding: 15px 100px;
    border: 1px solid white;
    box-shadow: 2px 2px #ffffff85;
    background-color: darkcyan;
    color: black;
    font-weight: 700;
    border-radius: 20px;
}